.app {
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: lightgray;
}
.app__cash {
    width: 200px;
    font-size: 40px;
    margin: 20px 0;
}
.btn__container {
    display: flex;
    margin-bottom: 20px;
}
.btn {
    border: none;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 2px;
}
.btn:hover {
    background: lightcyan;
    transition: all 500ms ease-in-out;
}
.text {
    font-size: 30px;
    margin-bottom: 10px;
}
.customer {
    font-size: 30px;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
}